@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

:root {
  background: radial-gradient(#2B2622, #120F0C);
}

.App {
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
  font-size: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/eldenringlogo.png);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  background-image: linear-gradient(#C4A366,  #E5CAAA);
  background-clip: text;
  color: transparent;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

button {
  width: 33%;
  height: 4rem; 
  border: 5px solid #9A9790;
  border-radius: 5px;
  background-color: rgba(20, 17, 8, .4);
  color: #faf6e9;
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 50px;
  transition: .4s ease-in-out;
  z-index: 1;
}

button:hover {
  cursor: pointer;
  background-color: rgba(20, 17, 8, 1);
  border: 5px solid #83807a;
}

#die-btn {
  color: #E5CAAA;
  font-weight: 700;
}